			<div id="content-inner" class="wrapper centerer">
				<div class="wrapper960px">
					<div class="wrapper">
						<form method="post" >
							<div class="textCenterer" >
								<input type="text" class="lightField" placeholder="Логин" name="login" /> <br />
								<input type="password" class="lightField" placeholder="Пароль" name="password" />
							</div>
						
							<div class="line"></div>
							
							<div class="textCenterer">
								<button type="submit" name="do" value="signin" class="darkBtn noFloat">Вход</button>
								<a href="/reg" class="lightBtn noFloat">Регистрация</a> 
								<br />
								<br />
								<a href="/restore">Забыли пароль?</a>
							</div>
						</form>
					</div>
				</div>
			</div>