			<div class="wrapper" id="slideWrapper">
				<div class="wrapper960px">
					<div id="slide">
						<div class="text_wrapper" style="visibility: hidden;" >
							<h2>Кто мы?</h2>
							<p>Veneum - проект, предоставляющий возможность пассивного заработка на инвестициях в технологии. Мы инвестируем ваши средства в космическую науку, получая прибыль и возвращая вам процент. Чего же вы ждете?</p>
							<a href="/reg" class="lightBtn">Зарегистрируйтесь сейчас!</a>
						</div>
						<img src="template-1/assets/images/slide.png" style="visibility: hidden;" />
					</div>
				</div>
			</div>
			
			<div id="content-inner" class="wrapper">
				<div class="wrapper960px">
					<div class="textCenterer" ><h2>Частозадаваемые вопросы</h2></div>
					<h3>Какие существуют риски?</h3> <br />
					Мы гарантируем своим инвесторам конфиденциальность персональных данных и сохранность денежных средств. Однако, помните, что любое инвестирование всегда связано с риском, который пропорционально равен прибыли. Поэтому, мы подобрали оптимальное соотношение доходности и риска при составлении инвестиционных планов. <br />

					<br /><h3>Как начать?</h3> <br />
					Для того, чтобы стать участником системы, зарегистрируйтесь. Регистрация бесплатная и займет пару минут. Войдите в личный кабинет, введя логин и пароль, выберите платежную систему, тарифный план и откройте депозит. После открытия депозита вы автоматически станете участником системы и будете получать прибыль от инвестиций. <br />

					<br /><h3>Как зарегистрироваться на сайте компании?</h3> <br />
					Чтобы пройти регистрацию, нажмите «Зарегистрироваться» и заполните все необходимые поля.<br />

					<br /><h3>Как получить доступ к учетной записи?</h3> <br />
					Чтобы получить доступ к вашей учетной записи, необходимо войти в личный кабинет, указав логин и пароль, полученные при регистрации. <br />

					<br /><h3>Могу ли я быть уверенным в безопасности моих данных?</h3> <br />
					Да, компания гарантирует нашим инвесторам защиту и безопасность персональных данных. Мы не передаем личные данные клиентов третьим лицам! Наш сайт защищен от различного вида атак, и все передаваемые данные проходят шифрование. <br />

					<br /><h3>Кто может стать участником системы?</h3> <br />
					Стать участником системы может любой желающий, достигший совершеннолетнего возраста. <br />

					<br /><h3>Сколько аккаунтов я могу создать?</h3> <br />
					Вы можете создать только один аккаунт в системе. При нарушении данного условия, администрацией сайта будут приняты меры. <br />

					<br /><h3>Как открыть депозит?</h3> <br />
					Для того, чтобы открыть депозит, зарегистрируйтесь, войдите в ваш личный кабинет и пополните счет. <br />

					<br /><h3>Какое число депозитов можно открыть?</h3> <br />
					Ограничений по количеству создаваемых депозитов нет. <br />

					<br /><h3>Я не могу войти в свой личный кабинет.</h3> <br />
					В подобном случае проверьте, правильно ли вы ввели данные. Если данные введены верно, почистите кэш и попробуйте еще раз. Если проблема не решилась, напишите в службу поддержки. <br />

					<br /><h3>В чем преимущества участия в партнерской программе?</h3> <br />
					Партнерская программа — это отличная возможность для каждого инвестора, желающего получать дополнительную прибыль. При этом вам не обязательно иметь активный депозит. <br />

					<br /><h3>Есть ли у вас партнерская программа?</h3> <br />
					Да, мы подготовили для вас щедрую партнерскую программу: первый уровень - 5%, второй уровень - 1%, третий уровень - 1%. Но Обратите внимание, вы получите прибыль с партнера только в том случае, если он перешел на наш сайт по вашей реферальной ссылке, зарегистрировался и создал депозит через пополнение счета. <br />

					<br /><h3>Нужен ли депозит, чтобы участвовать в партнерской программе?</h3> <br />
					Для получения 7% от партнерских отчислений иметь активный депозит не обязательно. От вас требуется лишь распространение вашей реферальной ссылки любыми доступными для вас способами. Если вы хотите получать повышенный партнерский % для этого нужно иметь и собственный депозит, подробно можете ознакомиться в разделе Партнерам. <br />

					<br /><h3>Как стать участником партнерской программы?</h3> <br />
					В личном кабинете вы найдете вашу реферальную ссылку. Распространяйте ее всеми доступными для вас способами и приглашайте людей. Новые пользователи будут переходить на наш сайт по вашей ссылке и регистрироваться. После этого они автоматически закрепятся за вами. Со всех пополнений счета, которые они осуществляют, вы будете получать партнерское вознаграждение. <br />

					<br /><h3>Где мне найти партнерскую ссылку?</h3> <br />
					Вы можете найти вашу партнерскую ссылку в личном кабинете. <br />

					<br /><h3>Зачем нужна партнерская ссылка?</h3> <br />
					Партнерская ссылка нужна для того, чтобы с ее помощью вы приглашали новых инвесторов в систему, а она в свою очередь автоматически определяла, что они пришли именно от вас. <br />

					<br /><h3>Что нужно знать о начислении партнерского вознаграждения?</h3> <br />
					Партнерское вознаграждение будет поступать каждый раз, когда ваш партнер пополнит счет и откроет вклад. Зачисление поступает мгновенно. <br />

					<br /><h3>Как отслеживать результаты привлечения?</h3> <br />
					Посмотреть информацию о вашем партнерском доходе вы можете в Личном Кабинете. <br />

					<br /><h3>Как мне проверить свой баланс?</h3> <br />
					Вы можете проверить баланс в любое время, войдя в ваш личный кабинет. <br />

					<br /><h3>Как скоро будет пополнен счет моего депозита?</h3> <br />
					Обычно денежные средства зачисляются мгновенно. Однако, следует отметить, что время зачисления может зависеть от регламента самих платежных систем. <br />

					<br /><h3>Есть ли комиссия при пополнении и выводе денежных средств?</h3> <br />
					Нет, в системе не предусмотрена комиссия. Инвестор оплачивает только комиссию выбранной им платежной системы, если таковая имеется. <br />

					<br /><h3>У меня остались вопросы, куда мне обратиться?</h3> <br />
					Если Вы не нашли ответа на вопрос в списке часто задаваемых, напишите в службу поддержки. <br />
				</div>
			</div>

<script>
	function animateSlide() {
		$("#slide .text_wrapper").addClass("animated slideInLeft long");
		$("#slide img").addClass("animated slideInRight long");
	}

	$(document).ready(
		function () {
			window.SlideAnimated = false;
			
			var scrl = $(document).scrollTop();
			
			if (scrl >= 0 && scrl <= 450) {
				if (!window.SlideAnimated) animateSlide();
				window.SlideAnimated = true;
			}
		}
	);
	
	$(window).scroll(
		function () {
			var scrl = $(document).scrollTop();
			
			if (scrl >= 0 && scrl <= 450) {
				if (!window.SlideAnimated) animateSlide();
				window.SlideAnimated = true;
			}
		}
	);
</script>