			<div id="content-inner" class="wrapper centerer">
				<div class="wrapper960px centerer">
					<div class="wrapper ticket_wrapper " >

						<form action="" method="POST" id="addTicket_form" onsubmit="return checkHelpForm(this)">
							<input type="hidden" name="do" value="help" />
								
							<input type="text" name="email" class="lightField bigField" placeholder="Ваш email" />
							<input type="text" name="title" class="lightField bigField" placeholder="Заголовок" />
							<textarea class="lightField bigField" name="text" placeholder="Опишите вашу проблему" ></textarea>
							
							<div class="textCenterer" >
								<button class="darkBtn smallBtn noFloat" type="submit" >Отправить</button>
							</div>
						</form>
			
					</div>
				</div>
			</div>