			<div class="wrapper" id="slideWrapper">
				<div class="wrapper960px">
					<div id="slide">
						<div class="text_wrapper" style="visibility: hidden;" >
							<h2>Кто мы?</h2>
							<p>Veneum - проект, предоставляющий возможность пассивного заработка на инвестициях в технологии. Мы инвестируем ваши средства в космическую науку, получая прибыль и возвращая вам процент. Чего же вы ждете?</p>
							<a href="/reg" class="lightBtn">Зарегистрируйтесь сейчас!</a>
						</div>
						<img src="template-1/assets/images/slide.png" style="visibility: hidden;" />
					</div>
				</div>
			</div>
			
			<div class="content-inner wrapper">
				<div class="wrapper960px">
				
					<div class="wrapper" >
						<div class="info-block text_wrapper" >
							<!-- Нас очень привлекает безграничное пространство холодного космоса... Поэтому мы инвестируем! Инвестируем в будущее - в технологии и компании, изучающие космос, продвигающие развитие науки вперед и просто перспективные сартапы. SpaceX и Honeybee Robotics, NASA и DigitalGlobe - что их всех объединяет? Мы инвестировали в акции этих компаний! -->
							Мы приветствуем посетителей на официальном сайте Veneum Project! Мы перспективаная команда специалистов в области космических иследований и технологий. Мы предлагаем вам инвестиционные планы для стабильного и пасивного заработка. В основе нашего предложения является привлечение инвестиций в развитие космических технологий.
						</div>
						<a href="/reg" class="darkBtn" rel="nofollow">Регистрация</a>
					</div>

				</div>
			</div>
			
			<div class="wrapper" id="advantages">
				<div class="wrapper960px">
					<div class="textCenterer" ><h2>Наши преимущества</h2></div>
					
					<div class="tightSlide right" style="visibility: hidden;" >
						<div class="text_wrapper" >
							<h2>Все прозрачно</h2>
							<p>У Вас есть возможность следить за своим финансовым счетом в режиме реального времени.</p>
						</div>
						<div class="img_wrapper" >
							<img src="template-1/assets/images/magnifyingglass.png" />
						</div>
					</div>
					
					<!-- <div class="line"></div> -->
				
					<div class="tightSlide left" style="visibility: hidden;" >
						<div class="img_wrapper" >
							<img src="template-1/assets/images/trends.png" />
						</div>
						<div class="text_wrapper" >
							<h2>Продуманные тарифные планы</h2>
							<p>Наши тарифные планы помогут Вам преумножить Ваши сбережения без риска все потерять.</p>
						</div>
					</div>
					
					<!-- <div class="line"></div> -->
					
					<div class="tightSlide right" style="visibility: hidden;" >
						<div class="text_wrapper" >
							<h2>Защищенный сервер</h2>
							<p>Наш проект расположен на быстром, мощном и защищенном от атак сервере.</p>
						</div>
						<div class="img_wrapper" >
							<img src="template-1/assets/images/security.png" />
						</div>
					</div>
					
					<!-- <div class="line"></div> -->
					
					<div class="tightSlide left" style="visibility: hidden;" >
						<div class="img_wrapper" >
							<img src="template-1/assets/images/profile.png" />
						</div>
						<div class="text_wrapper" >
							<h2>Профессиональная техподдержка</h2>
							<p>Наши операторы помогут Вам с любыми возможными трудностями, в любое удобное для Вас время.</p>
						</div>
					</div>
					
					<div class="tightSlide right" style="visibility: hidden;" >
						<div class="text_wrapper" >
							<h2>Новейшие технологии</h2>
							<p>Наш проект разработан с использованием последних технологий и тщательно протестирован годами успешной работы.</p>
						</div>
						<div class="img_wrapper" >
							<img src="template-1/assets/images/genius.png" />
						</div>
					</div>
				</div>
			</div>
			
			<div class="content-inner wrapper">
				<div class="wrapper960px">
				
					<div class="wrapper">
						<div class="textCenterer" ><h2>Наши достижения</h2></div>
						
						<div class="big_left-column">
							<div class="article">
								<h2>Ровер NASA ATHLETE</h2>
								<img src="template-1/assets/images/image1.jpg" class="roundedCorner leftImg" alt="">
								<p>Ровер NASA ATHLETE - это аппарат для исследования внеземных поверхностей любого типа, снабженный шестью конечностями. Ровер предназначен для высадки на Луну (в перспективе — Марс) и транспортировки грузов, жилых и лабораторных модулей по поверхности. </p>
								<p>Разработка 2009 года стала возможной, благодаря нашим с вами инвестициям в программу NASA «Созвездие».</p>
							</div>
							<div class="article">
								<h2>Ракета Falcon Heavy</h2>
								<img src="template-1/assets/images/image2.jpg" class="roundedCorner rightImg" alt="">
								<p>Falcon Heavy - ракета-носитель сверхтяжёлого класса с возможностью повторного использования, спроектированная и произведённая компанией SpaceX. Самая грузоподъёмная, мощная и тяжёлая ракета-носитель из находящихся в эксплуатации. </p>
								<p>Первый тестовый пуск был произведён 6 февраля 2018 года, с помощью нашего с вами посильного вклада в развитие технологии.</p>
							</div>
						</div>
						<div class="small_right-column">
							<h2>Отзывы</h2>
							<div class="comment-block">
								<p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud.</em></p>
								<strong> — Patrick Pool, Romonson</strong>
							</div>
							<div class="comment-block">
								<p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, quis nostrud.</em></p>
								<strong> — Patrick Pool, Romonson</strong>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="wrapper" id="plansWrapper">
				<div class="wrapper960px" >
					<div class="textCenterer">
						<h2>Тарифные планы</h2>
					</div>
					<div class="wrapper">
						
						<div id="sirius" class="third plan " style="visibility: hidden;" >
							<div class="" >
								Сириус - ярчайшая звезда ночного неба. Это обусловлено ее близким расположением к Земле и к Солнцу.
							</div>
							<img src="template-1/assets/images/sirius.png" width="300" />
							<div class="" >
								<h3>Sirius</h3>
								<br />
								<br />
								110%<br />
								Возврат через 24 часа.<br />
								Одно начисление, в конце депозита.<br />
								Минимальный вклад - 50 рублей.<br />
								Минимальный вклад - 3000 рублей.
							</div>
						</div>
						
						<div id="polaris" class="third plan blocked " style="visibility: hidden;" >
							<div class="plan-cover centerer" >
								Временно<br />недоступно
							</div>
							<!-- <div class="blur" > -->
								<!-- Полярная звезда - желтый сверхгигант. Расстояние до Земли — 434 световых года. -->
							<!-- </div> -->
							<!-- <img src="template-1/assets/images/polaris.png" width="300" class="blur" /> -->
							<img src="template-1/assets/images/plan-blurred1.png" width="300" />
							<!-- <div class="blur" > -->
								<!-- <h3>Polaris</h3> -->
								<!-- <br /> -->
								<!-- <br /> -->
								<!-- 120%<br /> -->
								<!-- Возврат через 48 часов.<br /> -->
								<!-- Начисления каждые 6 часов.<br /> -->
								<!-- Минимальный вклад - 100 рублей.<br /> -->
								<!-- Минимальный вклад - 10000 рублей. -->
							<!-- </div> -->
						</div>
						
						<div id="rigel" class="third plan blocked " style="visibility: hidden;" >
							<div class="plan-cover centerer" >
								Временно<br />недоступно
							</div>
							<!-- <div class="blur" > -->
								<!-- Ригель - седьмая по яркости звезда ночного неба. Его светимость примерно в 130 000 раз выше солнечной.  -->
							<!-- </div> -->
							<!-- <img src="template-1/assets/images/rigel.png" width="300" class="blur" /> -->
							<img src="template-1/assets/images/plan-blurred2.png" width="300" />
							<!-- <div class="blur" > -->
								<!-- <h3>Rigel</h3> -->
								<!-- <br /> -->
								<!-- <br /> -->
								<!-- 116%<br /> -->
								<!-- Возврат через 36 часов.<br /> -->
								<!-- Начисления каждые 12 часов.<br /> -->
								<!-- Минимальный вклад - 100 рублей.<br /> -->
								<!-- Минимальный вклад - 5000 рублей. -->
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>
			
			<div class="wrapper" id="stats">
				<div class="wrapper960px" >
					<div class="wrapper">
						<div class="textCenterer" ><h2>Калькулятор</h2></div>

						<div id="calc">
							<div class="calc-content">
								<form onsubmit="return Calc(this);">
									<div class="textCenterer">
										<label class="customSelect" placeholder="План" id="plan_select">
											<input type="radio" name="plan" value="" />
											<div>
												<input type="radio" name="plan" value="110" id="plan1" />
												<label for="plan1">Sirius (110%)</label>
											</div>
										</label>
										
										<input type="text" class="lightField smallField" name="sum" placeholder="Сумма депозита" />
									</div>
									
									<div class="textCenterer">
										<button class="darkBtn smallBtn noFloat" type="submit" >Посчитать</button>
									</div>
									
									<div class="textCenterer calc-result">
									</div>
								</form>
							</div>
						</div>

						<div class="textCenterer" ><h2>Статистика</h2></div>
						
						<div class="third " >
							<table class="" cellspacing='0' >
								<thead>
									<tr>
										<th>Всего регистраций</th>
									</tr>
								</thead>
								<tr>
									<td>%total_accs%</td>
								</tr>
							</table>
						</div>
						<div class="third " >
							<table class="" cellspacing='0' >
								<thead>
									<tr>
										<th>Общая сумма пополнений</th>
									</tr>
								</thead>
								<tr>
									<td>%total_deposits%</td>
								</tr>
							</table>
						</div>
						<div class="third " >
							<table class="" cellspacing='0' >
								<thead>
									<tr>
										<th>Общая сумма выплат</th>
									</tr>
								</thead>
								<tr>
									<td>%total_withdrawals%</td>
								</tr>
							</table>
						</div>
					</div>
					
					<div class="wrapper">
						<div class="third stat" >
							<table class="" cellspacing='0' >
								<caption class="bigText" >Новые регистрации</caption>
								<thead>
									<tr>
										<th>Ник</th>
										<th>Дата</th>
									</tr>
								</thead>
								%new_regs%
								<!-- <tr> -->
									<!-- <td>icpx</td> -->
									<!-- <td>20.02.2018</td> -->
								<!-- </tr> -->
							</table>
						</div>
						<div class="third stat" >
							<table class="" cellspacing='0' >
								<caption class="bigText" >Новые пополнения</caption>
								<thead>
									<tr>
										<th>Ник</th>
										<th>Сумма</th>
									</tr>
								</thead>
								%new_refills%
								<!-- <tr> -->
									<!-- <td>icpx</td> -->
									<!-- <td>1000 Rub</td> -->
								<!-- </tr> -->
							</table>
						</div>
						<div class="third stat" >
							<table class="" cellspacing='0' >
								<caption class="bigText" >Новые выплаты</caption>
								<thead>
									<tr>
										<th>Ник</th>
										<th>Сумма</th>
									</tr>
								</thead>
								%new_withdrawals%
								<!-- <tr> -->
									<!-- <td>icpx</td> -->
									<!-- <td>1000 Rub</td> -->
								<!-- </tr> -->
							</table>
						</div>
					</div>
				</div>
			</div>
			
<script>
	function animateSlide() {
		$("#slide .text_wrapper").addClass("animated slideInLeft long");
		$("#slide img").addClass("animated slideInRight long");
	}
	function animateAdvantages() {
		$(".tightSlide.right").addClass("animated slideInRight long");
		$(".tightSlide.left").addClass("animated slideInLeft long");
	}
	function animatePlans() {
		$(".third.plan").addClass("animated fadeIn long");
	}

	$(document).ready(
		function () {
			window.SlideAnimated = false;
			window.AdvantagesAnimated = false;
			window.PlansAnimated = false;
			
			var scrl = $(document).scrollTop();
			
			if (scrl >= 0 && scrl <= 450) {
				if (!window.SlideAnimated) animateSlide();
				window.SlideAnimated = true;
			}
			if (scrl >= 180 && scrl <= 1450) {
				if (!window.AdvantagesAnimated) animateAdvantages();
				window.AdvantagesAnimated = true;
			}
			if (scrl >= 1700 && scrl <= 2800) {
				if (!window.PlansAnimated) animatePlans();
				window.PlansAnimated = true;
			}
		}
	);
	
	$(window).scroll(
		function () {
			var scrl = $(document).scrollTop();
			
			if (scrl >= 0 && scrl <= 450) {
				if (!window.SlideAnimated) animateSlide();
				window.SlideAnimated = true;
			}
			if (scrl >= 180 && scrl <= 1450) {
				if (!window.AdvantagesAnimated) animateAdvantages();
				window.AdvantagesAnimated = true;
			}
			if (scrl >= 1700 && scrl <= 2800) {
				if (!window.PlansAnimated) animatePlans();
				window.PlansAnimated = true;
			}
		}
	);
</script>