			<div id="content-inner" class="wrapper centerer">
				<div class="wrapper960px">
					<div class="wrapper">
						<form method="post" onsubmit="return checkRegForm(this);">
							<div class="textCenterer" >
								<input type="text" class="lightField" placeholder="Имя пользователя" name="login" value="%login%" /> <br />
								<input type="text" class="lightField" placeholder="E-mail" name="email" value="%email%" /> <br />
								<input type="password" class="lightField" placeholder="Пароль" name="password" /> <br />
								<input type="password" class="lightField" placeholder="Повторите пароль" name="password_repeat" /><br />
								<input type="checkbox" name="termsAgreed" /> Принимаю <a href="/rules">условия соглашения</a>.
							</div>
						
							<div class="line"></div>
							
							<div class="textCenterer">
								<button type="submit" name="do" value="reg" class="darkBtn noFloat">Регистрация</button>
								<a href="/signin" class="lightBtn noFloat">Вход</a>
							</div>
						</form>
					</div>
				</div>
			</div>