			<div class="wrapper" id="slideWrapper">
				<div class="wrapper960px">
					<div id="slide">
						<div class="text_wrapper" style="visibility: hidden;" >
							<h2>Кто мы?</h2>
							<p>Veneum - проект, предоставляющий возможность пассивного заработка на инвестициях в технологии. Мы инвестируем ваши средства в космическую науку, получая прибыль и возвращая вам процент. Чего же вы ждете?</p>
							<a href="/reg" class="lightBtn">Зарегистрируйтесь сейчас!</a>
						</div>
						<img src="template-1/assets/images/slide.png" style="visibility: hidden;" />
					</div>
				</div>
			</div>
			
			<div id="content-inner" class="wrapper">
				<div class="wrapper960px">
					<div class="textCenterer" ><h2>Правила и соглашение</h2></div>
						<h3>Общие положения</h3>
						<ul style="list-style-type: none;">
							<li><b>1.1</b> Комиссия проекта на вывод средств составляет 0% от выводимой пользователем суммы. Может взыматься плата платежной системой, на которую вы выводите. </li>
							<li><b>1.2</b> Вывод средств возможен только после обработки вашей предыдущей заявки.</li>
							<li><b>1.3</b> Зарегистрировавшись в нашей системе, Вы соглашаетесь с данными правилами в полном объеме.</li>
							<li><b>1.4</b> Администрация не несет ответственности за возможный ущерб нанесенный вашему аккаунту при использовании сторонних ресурсов для входа в личный кабинет. </li>
							<li><b>1.5</b> На момент регистрации, пользователю должно быть не менее 18 лет со дня его рождения.</li>
						</ul>
						
						<br /><h3>Права и обязанности пользователя</h3>
						<ul style="list-style-type: none;">
							<li><b>2.1</b> На внесение денег на свой баланс. </li>
							<li><b>2.2</b> Производить информирование и привлечение новых участников в систему различными рекламными методами сайты, темы на форумах, социальные сети и т.д.</li>
							<li><b>2.3</b> Направлять в Систему свои пожелания и отзывы с целью улучшения сервиса Системы. </li>
							<li><b>2.4</b> Соблюдать настоящие правила в полном объеме.</li>
							<li><b>2.5</b> Внимательно ознакомиться со сроками зачисления и выплат. </li>
							<li><b>2.6</b> Не вводить Администрацию Системы в заблуждение путем предоставления недостоверной информации. </li>
							<li><b>2.7</b> Не реже одного раза в три дня вновь знакомиться с данными правилами. </li>
							<li><b>2.8</b> При обнаружении неисправностей, либо некоторых погрешностей в скрипте сайта, сообщать в службу поддержки. </li>
							<li><b>2.9</b> Не проводить попыток взлома сайта и не использовать возможные ошибки в скриптах. При попытке взлома, администрация имеет полное право удалить, заблокировать или оштрафовать пользователя. </li>
							<li><b>2.10</b> Не публиковать оскорбительных сообщений, клевету и иные виды сообщений портящих репутацию Системы или её пользователей. </li>
							<li><b>2.11</b> Не создавать цепочки из 2-х и более следующих друг за другом регистраций с целью неоднократного получения реф. бонусов от каждой из оплат. В случае обнаружения таких цепочек, администрация имеет полное право удалить, заблокировать или оштрафовать пользователя. </li>
						</ul>
						
						<br /><h3>Права и обязанности администрации</h3>
						<ul style="list-style-type: none;">
							<li><b>3.1</b> В случае игнорирования пользователями данных правил, администрация оставляет за собой право удалить, заблокировать или оштрафовать аккаунт пользователя без предупреждений и без объяснения причин. </li>
							<li><b>3.2</b> Администрация может вносить в эти правила изменения предварительно за 3 дня сообщив о внесении корректив. </li>
							<li><b>3.3</b> Если пользователь в регистрации написал ложные данные, то администрация имеет полное право его удалить, заблокировать или оштрафовать без предупреждения и не выплачивать денежные средства до исправления данных в профиле.</li>
							<li><b>3.4</b> Письма присланные администрации, имеющие нецензурное содержание, несущие оскорбительный характер или угрозы - будут игнорированы, а пользователи удалены. </li>
							<li><b>3.5</b> При попытке ввести администрацию в заблуждение обман, будут приняты меры по удалению, блокировки или штрафу аккаунта. </li>
							<li><b>3.6</b> Администрация обязуется сохранять конфиденциальность информации зарегистрированного пользователя, полученной от него при регистрации. </li>
							<li><b>3.7</b> Администрация не несет ответственности за возможный взлом аккаунтов. Во избежание взлома необходимо использовать сложные пароли. </li>
							<li><b>3.10</b> В случае отказа от принятия новых правил, администрация оставляет за собой право отказать пользователю в дальнейшем участии в нашем сервисе. </li>
							<li><b>3.11</b> Официальными новостями, относящимися к проекту, являются лишь новости, публикуемые на данном сайте и в официальных группах ВК и ФБ компании Veneum Project</li>
						</ul>
						
						<br /><h3>Платежи</h3>
						<ul style="list-style-type: none;">
							<li><b>4.1</b> Пользователи могут сделать вклад на депозит на сумму от 50.00 рублей при помощи следующих платежных систем: Payeer, Qiwi, BitCoin, Ethereum.</li>
							<li><b>4.2</b> Минимальная сумма вывода денежных средств из системы составляет: 10 рублей. Для некоторых платежных направлений могут быть установлены отдельные условия на минимальную сумму вывода из Системы и порядок обслуживания.</li>
							<li><b>4.3</b> Перечень платежных систем, при помощи которых можно совершать ввод и вывод средств может корректироваться администрацией. </li>
							<li><b>4.4</b> Вывод средств происходит в ручном режиме оператором в течение трех рабочих дней. В случае предоставления неточных, неполных данных о системе вывода со стороны клиента, вывод средств не происходит, а заявка на вывод отклоняется до исправления или выяснения всех неточностей и данных. </li>
							<li><b>4.5</b> Заявки на вывод средств принимаются круглосуточно.</li>
						</ul>
						
						<br /><h3>Ответственность</h3>
						<ul style="list-style-type: none;">
							<li><b>5.1</b> Администрация гарантирует возврат вложенных денег в случае форс мажорных обстоятельств.</li>
							<li><b>5.2</b> Администрация не рассылает Пользователям необоснованные электронные или иные сообщения (спам).</li>
							<li><b>5.3</b> Администрация не несет ответственности за временные технические сбои и перерывы в работе Проекта, за временные сбои и перерывы в работе линий связи, иные аналогичные сбои, а также за неполадки компьютера, с которого Пользователь осуществляет выход в Интернет. </li>
							<li><b>5.4</b> Администрация не несет ответственности перед Пользователем за действия других Пользователей. </li>
							<li><b>5.5</b> Фактом регистрации Вы соглашаетесь с условиями данного соглашения. </li>
							<li><b>5.6</b> Все возможные претензии и отзывы о функционировании Системы необходимо направлять на официальный электронный адрес проекта. </li>
							<li><b>5.7</b> Этот веб-сайт, включая всю информацию и материалы, предоставленные на данном сайте, предоставляется "как есть", явных или подразумеваемых, включая, но, не ограничиваясь, подразумеваемые гарантии товарного состояния, пригодности для определенной цели, или отсутствия ошибок. </li>
							<br /><br /><li>Этот сайт является правовой собственностью компании Veneum Project и любое копирование или упоминание о данном ресурсе на сторонних сайтах будет расцениваться как незаконное.</li>
							<li>Если Вы не согласны с правилами, пожалуйста, не регистрируйтесь. Мы никого не принуждаем и не даём никаких гарантий и обещаний.</li>
						</ul>

				</div>
			</div>

<script>
	function animateSlide() {
		$("#slide .text_wrapper").addClass("animated slideInLeft long");
		$("#slide img").addClass("animated slideInRight long");
	}

	$(document).ready(
		function () {
			window.SlideAnimated = false;
			
			var scrl = $(document).scrollTop();
			
			if (scrl >= 0 && scrl <= 450) {
				if (!window.SlideAnimated) animateSlide();
				window.SlideAnimated = true;
			}
		}
	);
	
	$(window).scroll(
		function () {
			var scrl = $(document).scrollTop();
			
			if (scrl >= 0 && scrl <= 450) {
				if (!window.SlideAnimated) animateSlide();
				window.SlideAnimated = true;
			}
		}
	);
</script>