body {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
	
	background-image: url('../img/panel-bg.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
	font-family: Tahoma, Arial, Verdana;
	
	color: #fff;
}

form {
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 0;
	padding-top: 0;
}

a {
	color: #fff !important;
}

table {
	width: 100%;
	/* border: 1px solid #fff; */
	/* border-color: #fff; */
	text-align: center;
	font-size: 14px;
}
	thead {
		color: #000;
	}
	th, td {
		/* border-right: 1px solid #fff; */
		padding: 3px;
		vertical-align: middle;
	}
	tr th:last-child,
	tr td:last-child {
		border-right: 0;
	}
	th {
		background: #fff;
	}
	th.actions, th.actions {
		width: 50px;
		/* background: transparent; */
	}
	
.tab, .button {
	display: inline-block;
	background-color: transparent;
	color: white;
	border: 1px solid white;
	outline: 0;
	cursor: pointer;
	padding: 3px;
	transition: background-color .5s ease-out 0s;
}
.button { height: 25px; }

.tab:hover, .tab.active, .button:hover { background-color: #BBBBBB; }
.tab:active, .button:active { box-shadow: inset 0 0 10px rgba(0,0,0,0.5); }
.tab { position: relative; border-radius: 3px 3px 0 0; border-bottom: 0; }

.tab a, .button a { display: block; color: #fff; text-decoration: none; }
.tab a, .button a:visited { color: #fff; text-decoration: none; }
	

.tinyBtn {
	width: 21px;
	height: 21px;
	text-align: center;
	/* border-radius: 5px; */
    padding: 0;
	border: 0;
	margin-left: 3px;
}

.button.tinyBtn.headerBtn {
	margin-left: 0;
}

.buttonsVisible { display: block; }
.buttonsHidden { display: none; }

.field {
	height: 25px;
	width: 200px;
	border: 1px solid white;
	outline: 0;
	padding: 5px;
	color: white;
	background-color: transparent;
}
.field.stretchy {width: 100%; /*padding: 2px; height: 19px; font-size: 13px;*/} 

textarea.field {
	display: inline-block;
	resize: none;
	height: 130px;
	width: 850px;
}

.horizontal-centerer {
	display: flex;
	flex-wrap: wrap; 
	flex-direction: row; 
	justify-content: center;
}

.vertical-centerer {
	display: flex;
	flex-wrap: wrap; 
	flex-direction: row; 
	align-items: center;
}

div#main-wrapper.installpage {
	padding: 20px;
	background-color: rgba(0, 0, 0, .5);
}
div#main-wrapper.settingspage,
div#main-wrapper.panelpage {
	width: 950px;
	/* background-color: rgba(0, 0, 0, .5); */
}

div.settings div.settings-content div {
	margin-bottom: 3px;
}

	div#topMenu {
		margin: 20px 0 0 0;
		padding-left: 1%;
		padding-right: 1%;
		box-sizing: border-box;
		border-bottom: 1px solid #fff;
	}
		div#loginWrapper {
			display: inline-block;
			float: right;
		}
	div#main-wrapper.settingspage div#content,
	div#main-wrapper.panelpage div#content {
		padding: 20px;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, .5);
		overflow: hidden;
	}
		div#main-wrapper.panelpage div#content div.block-wrapper {
			float: left;
			width: 50%;
		}
		div#main-wrapper.panelpage div#content div.block {
			width: 98%;
			margin: 1%;
			float: left;
			box-sizing: border-box;
			border: 1px solid #fff;
			padding: 0 5px 5px 5px;
		}
		div#main-wrapper.panelpage div#content div.block.bigBlock { width: 99%; margin: 1% .5%;}
			div#main-wrapper.panelpage div#content div.block .blockHeader { 
				display: flex;
				flex-wrap: wrap; 
				flex-direction: row; 
				align-items: center;
			}
			div#main-wrapper.panelpage div#content div.block h3 { display: inline-block; margin: 15px 10px; }
		
		div#main-wrapper.panelpage div#content div.message-wrapper {width: 100%; overflow: hidden; margin-bottom: 10px;}
			div#main-wrapper.panelpage div#content div.message {
				border: 1px solid #fff;
				padding: 5px;
				max-width: 650px;
			}
				div#main-wrapper.panelpage div#content div.message.leftMessage { float: left; }
				div#main-wrapper.panelpage div#content div.message.rightMessage { float: right; }
				div#main-wrapper.panelpage div#content div.message div.messageTopBar {
					border-bottom: 1px solid #fff;
					padding-bottom: 5px;
					margin-bottom: 5px;
				}
		.topMsgIndicator {
			position: absolute; top: -7px; right: 0;
			background: #fff;
			color: #000;
			font-size: 10px;
			padding: 0 3px;
			border-radius: 15px;
		}